# Database
DATABASE_URL="postgresql://authuser:authpass123@localhost:53466/authdb?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# Session
SESSION_SECRET="cambia-esto-por-un-secreto-de-64-caracteres-generado-con-openssl-rand"
SESSION_COOKIE_NAME="__Host-session"
SESSION_TTL=86400                  # 24 horas

# Security
NODE_ENV=development
PORT=4000

# Rate limiting
LOGIN_RATE_LIMIT=5                 # intentos por IP
LOGIN_RATE_WINDOW=900000           # 15 minutos

# DATABASE_URL="prisma+postgres://localhost:51213/?api_key=eyJkYXRhYmFzZVVybCI6InBvc3RncmVzOi8vcG9zdGdyZXM6cG9zdGdyZXNAbG9jYWxob3N0OjUxMjE0L3RlbXBsYXRlMT9zc2xtb2RlPWRpc2FibGUmY29ubmVjdGlvbl9saW1pdD0xMCZjb25uZWN0X3RpbWVvdXQ9MCZtYXhfaWRsZV9jb25uZWN0aW9uX2xpZmV0aW1lPTAmcG9vbF90aW1lb3V0PTAmc29ja2V0X3RpbWVvdXQ9MCIsIm5hbWUiOiJkZWZhdWx0Iiwic2hhZG93RGF0YWJhc2VVcmwiOiJwb3N0Z3JlczovL3Bvc3RncmVzOnBvc3RncmVzQGxvY2FsaG9zdDo1MTIxNS90ZW1wbGF0ZTE_c3NsbW9kZT1kaXNhYmxlJmNvbm5lY3Rpb25fbGltaXQ9MTAmY29ubmVjdF90aW1lb3V0PTAmbWF4X2lkbGVfY29ubmVjdGlvbl9saWZldGltZT0wJnBvb2xfdGltZW91dD0wJnNvY2tldF90aW1lb3V0PTAifQ"